.navbar {
    height: 15vh;
    background-color: black;
}

a.ml-1.navbar-brand {
    font-size: 1.5rem;
}

table.cart-modal-table.table.table-borderless {
    table-layout: fixed;
}

.modal-header {
    background-color: red;
    border-bottom: 2px solid black;
    color: white;
}
